h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: cadetblue;
    
}

#cats{
border-collapse: collapse;
width: 75%;

}

#cats th,
#cats td{

    border-style: dashed;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.old{
    background-color: pink;
}

.grey{
    background-color: grey;
}

.tort{
    background-image: url(torty.jpg);
    color: yellow;
    font-weight: 500;

}